.scroll-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

/* Testo che scorre */
.scroll-text {
  display: inline-block;
  animation: scrollText 10s linear infinite;
}

/* Animazione di scorrimento */
@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
